<a href="https://colab.research.google.com/github/chourasiya1430/LAB-1-ML-/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example of list comprehension in python

1.print squre of natural number 1 to 10

In [ ]:
for i in range(1, 11):
    print(i ** 2)

count number of 6 b/w 1 to 1000

In [ ]:
count = 0
for i in range(1, 1001):
    count += str(i).count('6')
print(count)

count number of spaces in string

In [ ]:
s = "virat kohli is the best cricketer in the world"
count = s.count(' ')
print(count)

write table of 5

In [ ]:
for i in range(1, 11):
    print("5 x", i, "=", 5 * i)

find number beetween 1 to 1000 divisible by 2 and 5

In [ ]:
for i in range(1, 1001):
    if i % 2 == 0 and i % 5 == 0:
        print(i)